
    .button {
        position: absolute;
        float: left;
        width: 140px;
        min-height: 40px;
        border: 2px solid;
        border-radius: 5px;
        border-image-source: linear-gradient(to bottom right, #26d62e, #259013);
        border-image-slice: 1;
        background: linear-gradient(to bottom, #86ffaf, #29f732) #fff8fd;
        box-shadow: 5px 5px 15px rgba(135, 168, 196, 0.5);
        margin: 5px;
        word-wrap: break-word;
        font: 16px Roboto;
        font-weight: bold;
        cursor: pointer;
    }

    .button:active {
        padding-left: 10px;
        background: linear-gradient(to top, #65f9db, #78e4d9) #fff8fd;
    }

    .buttonuser {
        position: relative;
        float: left;
        width: 90%;
        min-height: 40px;
        border: 2px solid;
        border-radius: 5px;
        border-image-source: linear-gradient(to bottom right, #26d62e, #259013);
        border-image-slice: 1;
        background: linear-gradient(to bottom, #86ffaf, #29f732) #fff8fd;
        box-shadow: 5px 5px 15px rgba(135, 168, 196, 0.5);
        margin: 5px;
        word-wrap: break-word;
        font: 16px Roboto;
        font-weight: bold;
        cursor: pointer;
    }

    .buttonuser:active {
        padding-left: 10px;
        background: linear-gradient(to top, #65f9db, #78e4d9) #fff8fd;
    }

    .button_left {
        left: var(--otstup);
    }
    .button_right {
        right: var(--otstup);
    }
